includes:
    - vendor/phpstan/phpstan-mockery/extension.neon
parameters:
    level: 2
    paths:
        - src
        - tests
    ignoreErrors:
        - '#Method Mockery\\MockInterface\:\:shouldReceive\(\) invoked with 1 parameter, 0 required.#'
